.board-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.row {
    width: fit-content;
    display: flex;
}
/* CELLS ============================================ */
.cell {
    width: 120px;
    height: 120px;
    border: 2px solid black;
    margin: 2px;
    border-radius: 10%;
}
/* end cells ==========================================*/

/* BUTTONS =========================================== */
.board-btn-container {
    display: flex;
}
.board-reset-btn {
}
/* end buttons ======================================= */