body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.board-container {
    width: 400px;
    display: flex;
    flex-direction: column;
}
.row {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* CELLS ============================================ */
.cell {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    margin: 2px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell span {
    font-size: 80px;
}
/* end cells ==========================================*/

/* BUTTONS =========================================== */
.board-btn-container {
    display: flex;
    justify-content: center;
}
.board-reset-btn {
    width: 80px;
    height: 40px;
    text-align: center;
    border: none;
    outline: none;
    background: black;
    color: white;
    border-radius: 20px;
}
/* end buttons ======================================= */