@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial;
    position: relative;

    background-image: linear-gradient(
        45deg,
        #5fa277,
        #31857c,
        #276672
        );
    background-size: 400%;
    animation: bg-animation 30s infinite;
}
@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
}
.board-container {
    width: 400px;
    margin: 100px auto auto auto;
    display: flex;
    flex-direction: column;
}
/* ROW STYLES ======================================= */
.row {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* end row styles =================================== */

/* MAIN TITLE ======================================= */
.main-title {
    font-size: 4em;
    margin: 0 0 .5em 0;
    padding: 0;
    color: white;
}
/* end main title ==================================== */
/* CELLS ============================================ */
.cell {
    width: 80px;
    height: 80px;
    font-size: 5em;
    font-family: 'Architects Daughter';
    margin: 4px;
    background: #ffc2af;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 2px 2px 8px rgba(0,0,0,.5);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, .5);
    transition: all 100ms ease-in;
}
.cell:hover {
    transform: scale(.9);
    box-shadow: none;
    transition: all 100ms ease-in;
}
/* end cells ==========================================*/

/* BUTTONS =========================================== */
.board-btn-container {
    display: flex;
    justify-content: center;
}
.board-reset-btn,
.board-quit-btn {
    width: 100px;
    height: 50px;
    text-align: center;
    border: none;
    outline: none;
    background: #fd8b7b;
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    border-radius: 50px;
    margin: .5em;
    box-shadow: 1px 1px 8px rgba(0,0,0,.5);
    transition: all 50ms ease-in;
}
.board-reset-btn:hover,
.board-quit-btn:hover {
    background: #ff7664;
    transform: scale(.95);
    box-shadow: none;
    transition: all 50ms ease-in;
}

/* end buttons ======================================= */

/* PLAYER ZONE ======================================= */
.player-score-container {
    width: 100%;
    height: 80px;
    display: flex;
}

.player-zone-title {
    position: relative;
    text-align: center;
    font-size: 2em;
    margin: 1em 0 .5em 0;
    padding: 0;
    color: white;
}

.player-one-container,
.player-two-container {
    text-align: center;
    width: 100%;
}
.player-one-title,
.player-two-title {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: white;
    font-family: "Architects Daughter";
}
.player-one-score,
.player-two-score {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-family: "Architects Daughter";
    color: white;

}
/* end player zone =================================== */

/* START FORM ======================================== */
.start-form-container-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-form-container {
    width: 300px;
    height: 300px;
    background: #ff9d91;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .25);
    border-radius: 10%;
}
.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-container input {
    border: none;
    outline: none;
    width: 200px;
    font-size: 1.2em;
    color: rgb(57, 57, 57);

}
.player-container label {
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 0;
    color: rgb(57, 57, 57);
}
.player-container input,
.player-container label {
    margin: .5em;
}

.start-btn {
    margin: 0 auto;
    width: 100px;
    height: 50px;
    text-align: center;
    border: none;
    outline: none;
    background: #5fa277;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 50px;
    box-shadow: 1px 1px 8px rgba(0,0,0,.5);
    transition: all 50ms ease-in;
}
.start-btn:hover {
    background: #31857c;
    transform: scale(.95);
    box-shadow: none;
    transition: all 50ms ease-in;
}
/* end start form ==================================== */